

  <table class = "table table-striped">

            <thead>
                <tr>
                    <th> Nom</th>
                    <th>prix_unitaire </th>
                    <th> quantite</th>
                  
                </tr>
            </thead>
            <tbody>
                    <td> {{ product.nom }} </td>
                    <td> {{ product.prix_unitaire }} </td>
                    <td> {{ product.quantite }} </td>
                 
            </tbody>
        </table>


  